#addToCartButton {
    background:  #371a6a;
    border: blue;
    margin-top: 7px;
}
.card {
    border: #23a6d5;;
  border-radius: 2em;
}
img {
    border-radius: 1em;
}
#returnToStore {
    background: #e73c7e;
    border: #ee7752;
    margin-top: 7px;
}
#goToCheckout {
    background: #23d5ab;
    color: #371a6a;
    border: #fecf4e;
    margin-top: 7px;
}