
.card-img-top {
  width: 70%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
#detailButton {
  display: flex;
  justify-content: center;
  background-color: #23d5ab;
  color: #371a6a;
}

.card-title{
  text-align: center;

}
#introCard {
  height: 450px;
  border: white;
}